[user]
	name = Chuck Nemeth
	email = chuckn246@gmail.com
	signingkey = F611DBDED88FE546
[core]
	editor = vim
	excludesfile = /home/chuck/.gitignore_global
        pager= 
	autocrlf = input
[pull]
	rebase = true
[diff]
	tool = vimdiff
[merge]
	conflictstyle = diff3
	tool = vimdiff
[color]
	ui = true
